.casts-page{
    background: $color-black;
}
.casts-page__inner{

}
.casts__head{
    font-family: $font-accent;
    color: $color-white;
    font-size: 72px;
    text-align: center;
    @include mq(tab) {
        font-size: 64px;
    }
    @include mq(sp) {
        font-size: 56px;
    }
}
.casts__photos{
    display: flex;
    flex-wrap: wrap;
}
.casts__photo-link{
    display: inline-block;
    width: calc(25% - 46px * 3 / 4);
    @include mq(pc) {
        &:not(:nth-child(4n + 1)){
            margin-left: 46px;
        }
        &:nth-child(n + 5){
            margin-top: 50px;
        }
    }
    @include mq(tab) {
        width: calc(100% / 2 - 35px * 1 / 2);
        &:not(:nth-child(2n + 1)){
            margin-left: 35px;
        }
        &:nth-child(n + 3){
            margin-top: 50px;
        }
    }
    @include mq(sp) {
        width: 100%;
        &:not(:first-child){
            margin-top: 50px;
        }
    }
    
}
.casts__photo{
    width: 100%;
    height: 435px;
    @include mq(tab) {
        width: 100%;
        height: 480px;
    }
    @include mq(sp) {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        &::before{
            content: "";
            display: block;
            padding-top: 174%;
        }
    }
    img{
        width: 100%;
        height: 100%;
        @include mq(sp) {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.casts-page__button{
    text-align: center;
}