.casts-page{
    background: $color-black;
}
.casts-page__inner{

}
.casts__head{
    font-family: $font-accent;
    color: $color-white;
    font-size: 72px;
    text-align: center;
    @include mq(tab) {
        font-size: 64px;
    }
    @include mq(sp) {
        font-size: 56px;
    }
}
.casts__photos{
    display: flex;
    flex-wrap: wrap;
}
.casts__photo-link{
    display: inline-block;
    width: calc(25% - 46px * 3 / 4);
    @include mq(pc) {
        &:not(:nth-child(4n + 1)){
            margin-left: 46px;
        }
        &:nth-child(n + 5){
            margin-top: 50px;
        }
    }
    @include mq(tab) {
        width: calc(100% / 3 - 20px * 2 / 3);
        &:not(:nth-child(3n + 1)){
            margin-left: 20px;
        }
        &:nth-child(n + 4){
            margin-top: 50px;
        }
    }
    @include mq(sp) {
        width: 100%;
        &:not(:first-child){
            margin-top: 50px;
        }
    }
    
}
.casts__photo{
    img{

    }
}
.casts-page__button{
    text-align: center;
}