/*==================================
# common
==================================*/
//color
$color-main: #CA3E47;
$color-accent: #B99D4A;
$color-text: #333;
$color-black: #313131;
$color-white: #fff;
$color-gray: #E5E5E5;

//font
$font-english: 'Pinyon Script', cursive, sans-serif;
$font-accent: 'Archivo Black', sans-serif;
$font-base: 'Open Sans', 'Noto Sans JP', sans-serif;

//layout-width-inner
$layout-width-inner: 1440px;

//breakpoint
$breakpoints: (
    "sp": "(max-width: 767px)",
    "tab": "(min-width: 768px) and (max-width: 1024px)",
    "pc": "(min-width: 1025px)",
);

//media
@mixin mq($breakpoint: sp){
    @media #{map-get($breakpoints, $breakpoint)}{
        @content;
    }
}

*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    text-size-adjust: 100%;
    font-family: $font-base;
    font-size: 16px;
    line-height: 1.6;
    background: $color-white;
    overflow-x: hidden;
    max-width: 100%;
    word-break: break-all;
}
img{
    max-width: 100%;
    width: 100%;
    height: auto;
    border: none;
    object-fit: cover;
    vertical-align: bottom;
}
a{
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}
a:hover{
    opacity: 0.6;
}

ul{
    list-style: none;
}
input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  font-size: inherit;
  color: $font-base;
  border: 1px solid $color-text;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: 0;
}

input[type="submit"] {
  width: 100%;
  font-size: inherit;
  color: $color-white;
  border: 1px solid $color-text;
  background-color: $color-text;
  transition: 0.3s;
}

input[type="submit"]:hover {
  opacity: 0.6;
}

select {
  width: 100%;
  font-size: inherit;
  color: $color-text;
  border: 1px solid $color-text;
}

select option {
  color: $color-text;
}

select option:first-child {
  display: none;
}

textarea {
  width: 100%;
  font-size: inherit;
  color: $color-text;
  border: 1px solid $color-text;
  resize: none;
}
::placeholder {
  opacity: 1;
  color: $color-text;
}
.SPACER--60{
    height: 60px;
}
.SPACER--80{
    height: 80px;
}
.SPACER--100{
    height: 100px;   
}
.SPACER--130{
    height: 130px;
}
.SPACER--160{
    height: 160px;
}
.SPACER--200{
    height: 200px;
}
.SP--NONE{
    display: block;
    @include mq(sp) {
        display: none;
    }
}
.TAB--NONE{
    display: block;
    @include mq(tab) {
        display: none;
    }
    @include mq(sp) {
        display: none;
    }
}
.inner{
    max-width: $layout-width-inner;
    padding: 0 150px;
    margin: 0 auto;
    @include mq(sp) {
        padding: 0 15px;
    }
}
.btn{
    a{
        display: inline-block;
        width: 335px;
        max-width: 100%;
        height: 85px;
        line-height: 85px;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        border-radius: 10px;
        background: $color-main;
        color: $color-white;
        box-shadow: 0 3px 6px rgba(#333, 0.16);
        @include mq(sp) {
            width: 230px;
            height: 60px;
            line-height: 60px;
            font-size: 24px;
        }
    }
}
.btn-large{
    a{
        display: inline-block;
        width: 795px;
        max-width: 100%;
        height: 85px;
        line-height: 85px;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        border-radius: 10px;
        background: $color-main;
        color: $color-white;
        box-shadow: 0 3px 6px rgba(#333, 0.16);
        @include mq(tab) {
            width: 100%;
            font-size: 24px;
        }
        @include mq(sp) {
            width: 100%;
            height: auto;
            font-size: 18px;
            line-height: 2;
            padding: 10px 5px;
        }
    }
}
//pagination
.pagenation {
	text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.pagenation a {
	transition: all 0.3s ease 0s;
}

.pagenation a:hover {
	opacity: 0.6;
}

.pagenation a.next,
.pagenation a.prev {
	font-size: 30px;
    height: 40px;
    width: 40px;
}

.pagenation a.next:hover,
.pagenation a.prev:hover {
	opacity: 0.6;
}

.page-numbers {
	background: #fff;
	border: 1px solid #e2e2e2;
	color: #808080;
	display: inline-block;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	height: 40px;
	line-height: 38px;
	margin-right: 14px;
	min-width: 40px;
	text-align: center;
	text-decoration: none;
    margin-bottom: 10px;
}

.page-numbers:last-child {
	margin-right: 0;
}

.page-numbers.current {
	background: #d81f32;
	border: 1px solid #d81f32;
	color: #fff;
	font-weight: 700;
}

.page-numbers.dots,
.page-numbers.next,
.page-numbers.prev {
	border: none;
	line-height: 40px;
	min-width: initial;
	width: auto;
}
//404
.entry-404 {
	padding-bottom: 85px;
	text-align: center;
}

.entry-404-head {
	color: #f0cdd0;
	font-family: $font-accent;
	font-size: 72px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 36px;
    @include mq(tab) {
        font-size: 56px;
    }
    @include mq(sp) {
        font-size: 36px;
    }
}

.entry-404-head span::after {
	content: " ";
}

.entry-404-lead {
	color: $color-text;
	font-family: $font-base;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 24px;
    @include mq(tab) {
        font-size: 20px;
    }
    @include mq(sp) {
        font-size: 18px;
    }
}

.entry-404-lead .m_sp {
	display: none;
}

.entry-404-content {
	color: $color-text;
}

.entry-404-btn {
	margin-top: 58px;
}

.entry-404-btn .btn {
	background: $color-main;
	color: $color-white;
}

.entry-404-btn .btn:hover {
	background: $color-gray;
	opacity: 1;
}
