/*==================================
# common
==================================*/
//color
$color-main: #CA3E47;
$color-accent: #B99D4A;
$color-text: #333;
$color-black: #313131;
$color-white: #fff;
$color-gray: #E5E5E5;

//font
$font-english: 'Pinyon Script', cursive, sans-serif;
$font-accent: 'Archivo Black', sans-serif;
$font-base: 'Open Sans', 'Noto Sans JP', sans-serif;

//layout-width-inner
$layout-width-inner: 1440px;

//breakpoint
$breakpoints: (
    "sp": "(max-width: 767px)",
    "tab": "(min-width: 768px) and (max-width: 1024px)",
    "pc": "(min-width: 1025px)",
);

//media
@mixin mq($breakpoint: sp){
    @media #{map-get($breakpoints, $breakpoint)}{
        @content;
    }
}

*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    font-family: $font-base;
    font-size: 16px;
    line-height: 1.6;
    background: $color-white;
    overflow-x: hidden;
    max-width: 100%;
    word-break: break-all;
}
img{
    max-width: 100%;
    width: 100%;
    height: auto;
    border: none;
    object-fit: cover;
    vertical-align: bottom;
}
a{
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}
a:hover{
    opacity: 0.6;
}

ul{
    list-style: none;
}
input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  font-size: inherit;
  color: $font-base;
  border: 1px solid $color-text;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: 0;
}

input[type="submit"] {
  width: 100%;
  font-size: inherit;
  color: $color-white;
  border: 1px solid $color-text;
  background-color: $color-text;
  transition: 0.3s;
}

input[type="submit"]:hover {
  opacity: 0.6;
}

select {
  width: 100%;
  font-size: inherit;
  color: $color-text;
  border: 1px solid $color-text;
}

select option {
  color: $color-text;
}

select option:first-child {
  display: none;
}

textarea {
  width: 100%;
  font-size: inherit;
  color: $color-text;
  border: 1px solid $color-text;
  resize: none;
}
::placeholder {
  opacity: 1;
  color: $color-text;
}
.SPACER--60{
    height: 60px;
}
.SPACER--80{
    height: 80px;
}
.SPACER--100{
    height: 100px;   
}
.SPACER--130{
    height: 130px;
}
.SPACER--160{
    height: 160px;
}
.SPACER--200{
    height: 200px;
}
.SP--NONE{
    display: block;
    @include mq(sp) {
        display: none;
    }
}
.TAB--NONE{
    display: block;
    @include mq(tab) {
        display: none;
    }
    @include mq(sp) {
        display: none;
    }
}
.inner{
    max-width: $layout-width-inner;
    padding: 0 150px;
    margin: 0 auto;
    @include mq(sp) {
        padding: 0 15px;
    }
}
.btn{
    a{
        display: inline-block;
        width: 335px;
        max-width: 100%;
        height: 85px;
        line-height: 85px;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        border-radius: 10px;
        background: $color-main;
        color: $color-white;
        box-shadow: 0 3px 6px rgba(#333, 0.16);
        @include mq(sp) {
            width: 230px;
            height: 60px;
            line-height: 60px;
            font-size: 24px;
        }
    }
}
