/*==================================
# header
==================================*/
.header{
    background: $color-white;
    height: 100px;
    max-width: 100%;
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0 3px 3px rgba($color: #000000, $alpha: 0.6);
    z-index: 100;
    @include mq(sp) {
        height: 60px;
    }
}
.header__inner{
    display: flex;
    align-items: center;
    height: inherit;
    justify-content: space-between;
}
.header__logo{
    
    a{
        font-size: 56px;
        font-family: $font-english;
        color: $color-text;
        @include mq(tab) {
            font-size: 48px;
        }
        @include mq(sp) {
            font-size: 32px;
        }
    }
}
// .header__nav{
//     display: flex;
//     align-items: center;
//     margin-left: auto;
//     @include mq(sp) {
//         display: none;
//     }
//     li{
//         &:not(:first-child){
//             margin-left: 40px;
//         }
//         a{
//             color: $color-text;
//             position: relative;
        
//         &.is-active{
//             &::after{
//                 content: '';
//                 position: absolute;
//                 bottom: -8px;
//                 left: 0;
//                 width: 100%;
//                 height: 2px;
//                 background: $color-accent;
//             }
//         }
//         }
//     }
// }
.drawer{
    position: relative;
    width: 45px;
    height: 45px;
    //inputのcheckboxは非表示
    &__checkbox{
        display: none;
    }
    //ハンバーガーアイコン
    &__icon{
        cursor: pointer;
        display: block;
        width: inherit;
        height: inherit;
        position: fixed;
        top: 30px;
        bottom: 0;
        @include mq(sp) {
            top: 10px;
        }
        //ハンバーガーアイコンの線
        &-parts,
        &-parts::before,
        &-parts::after{
            background: $color-black;
            display: block;
            width: 26px;
            height: 2px;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
        }
        &-parts::before,
        &-parts::after{
            content: '';
        }
        &-parts::before{
            top: 16px;
        }
        &-parts::after{
            top: -16px;
        }
    }
    //開いた時のメインエリアを暗く
    &__overlay{
        background: $color-black;
        opacity: 0;
        pointer-events: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
    }
    //ドロワーメニュー
    &__menu{
        background: $color-white;
        color: $color-black;
        max-width: 100%;
        width: 320px;
        height: 100vh;
        overflow-y: auto;
        //スクロール
        position: fixed;
        top: 0;
        right: -320px;
        .drawer__item{
            display: block;
            &:not(:first-child){
                margin-top: 10px;
            }
        }
        .drawer__item-inner{
            font-size: 18px;
            font-weight: 700;
            color: $color-text;
    }
    }
    //z-index
    &__icon{
        z-index: 104;
    }
    &__menu{
        z-index: 103;
    }
    &__overlay{
        z-index: 102;
    }
    //アイコンをクリックしたら
    &__checkbox:checked ~ {
        .drawer__icon{
            .drawer__icon-parts{
                background: transparent;
            }
            .drawer__icon-parts::before{
                transform: rotate(-45deg);
                top: 0;
            }
            .drawer__icon-parts::after{
                transform: rotate(45deg);
                top: 0;
            }
        }
        //メインエリアを暗くする
        .drawer__overlay{
            opacity: 0.3;
            pointer-events: auto;
        }
        //メニューを出す
        .drawer__menu{
            right: 0;
            ul{
                width: 200px;
                margin-left: auto;
                margin-top: 100px;
                margin-right: auto;
            }
        }
    }
    //動きをスムーズに
    &__icon-parts,
    &__icon-parts::after,
    &__icon-parts::before,
    &__overlay,
    &__menu{
        transition: all 0.7s;
    }
}



/*==================================
# footer
==================================*/
.footer{
    background: $color-black;
}
.footer__inner{

}
.footer__menu{
    
}
.footer__nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    @include mq(tab) {
        display: block;
        text-align: center;
    }
    @include mq(sp) {
        display: block;
        text-align: center;
    }
        li{
            @include mq(tab) {
                &:not(:first-child){
                    margin-top: 20px;
                }
            }
            @include mq(sp) {
                &:not(:first-child){
                    margin-top: 20px;
                }
            }
            a{
                color: $color-white;
                font-size: 18px;
            }
        }
}
.copyright{
    margin-top: 45px;
    color: $color-white;
    font-size: 14px;
    text-align: center;
}