.sale{
    background: $color-black;
}
.sale__inner{

}
.sale__head{
    font-family: $font-accent;
    color: $color-white;
    font-size: 72px;
    text-align: center;
    word-break: break-all;
    @include mq(tab) {
        font-size: 64px;
    }
    @include mq(sp) {
        font-size: 56px;
    }
}
.sale__form-wrapper{
    background: $color-white;
    padding: 185px 125px;
    @include mq(tab) {
        padding: 90px 60px;
    }
    @include mq(sp) {
        padding: 20px 10px;
    }
}
.sale__form-title{
    font-size: 36px;
    color: $color-main;
    font-family: $font-base;
    font-weight: 700;
    @include mq(tab) {
        font-size: 30px;
    }
    @include mq(sp) {
        font-size: 24px;
    }
}
.sale__form-description{
    font-size: 24px;
    font-family: $font-base;
    color: $color-black;
    margin-top: 50px;
    @include mq(tab) {
        font-size: 20px;
        margin-top: 40px;
    }
    @include mq(sp) {
        font-size: 18px;
        margin-top: 30px;
    }
}
.sale__form-dl{

}
.sale__form-row{
    margin-top: 50px;
    @include mq(pc) {
        display: flex;
    }
    display: block;
    @include mq(tab) {
        margin-top: 40px;
    }
    @include mq(sp) {
        margin-top: 30px;
    }
}
.sale__form-label{
    margin: 0;
    padding: 0;
    width: 100%;
    @include mq(pc) {
        width: 200px;
    }
    label{
        font-family: $font-base;
        font-weight: 700;
        font-size: 24px;
        background: $color-gray;
        padding: 10px 16px;
        width: 100%;
        display: inline-block;
        @include mq(tab) {
            font-size: 18px;
        }
        @include mq(sp) {
            font-size: 16px;
        }
    }
}
.sale__form-input{
    margin: 0;
    padding: 0;
    width: 100%;
    @include mq(pc) {
        width: calc(100% - 200px);
    }
    [type="text"]{
        box-shadow: none;
        border: 1px solid $color-gray;
        background: $color-white;
        padding: 10px 16px;
        appearance: none;
        border-radius: 0;
        color: inherit;
        font-family: inherit;
        width: 100%;
        padding: 10px 16px;
        height: 100%;
    }
}
.sale__form-button{
    margin-top: 50px;
    text-align: center;
    @include mq(tab) {
        margin-top: 40px;
    }
    @include mq(sp) {
        margin-top: 30px;
    }
    [type="submit"]{
        font-size: 24px;
        font-weight: 700;
        background: $color-main;
        width: 200px;
        max-width: 100%;
        color: $color-white;
        padding: 20px;
        box-shadow: 0 3px 6px rgba(#333, 0.16);
        appearance: none;
        font-family: inherit;
        border: none;
        display: inline-block;
    }
}
.contact-message{
    text-align: center;
    margin-top: 60px;
    display: none;
    &.-error{
        color: $color-main;
    }
}