.booking{
    background: $color-black;
}
.booking__inner{

}
.booking__head{
    font-family: $font-accent;
    color: $color-white;
    font-size: 72px;
    text-align: center;
    @include mq(tab) {
        font-size: 64px;
    }
    @include mq(sp) {
        font-size: 56px;
    }
}
.booking__form{

}
.booking__form-wrapper{
    background: $color-white;
    padding: 185px 125px;
    @include mq(tab) {
        padding: 90px 60px
    }
    @include mq(sp) {
        padding: 20px 10px;
    }
}
.booking__form-title{
    font-size: 36px;
    color: $color-main;
    font-family: $font-base;
    font-weight: 700;
    @include mq(tab) {
        font-size: 30px;
    }
    @include mq(sp) {
        font-size: 24px;
    }
}
.booking__form-description{
    font-size: 24px;
    font-family: $font-base;
    color: $color-black;
    margin-top: 50px;
    @include mq(tab) {
        font-size: 20px;
        margin-top: 40px;
    }
    @include mq(sp) {
        font-size: 18px;
        margin-top: 30px;
    }
}
.booking__form-dl{

}
.booking__form-row{
    margin-top: 50px;
    @include mq(pc) {
        display: flex;
    }
    display: block;
    @include mq(tab) {
        margin-top: 40px;
    }
    @include mq(sp) {
        margin-top: 30px;
    }
}
.booking__form-row{
    margin-top: 50px;
    @include mq(tab) {
        margin-top: 40px;
    }
    @include mq(sp) {
        margin-top: 30px;
    }
}
.booking__form-label{
    @include mq(pc) {
        width: 200px;
    }
    width: 100%;
    padding: 0;
    margin: 0;
    label{
        font-family: $font-base;
        font-weight: 700;
        font-size: 24px;
        background: $color-gray;
        padding: 10px 16px;
        width: 100%;
        display: inline-block;
        @include mq(tab) {
            font-size: 18px;
        }
        @include mq(sp) {
            font-size: 16px;
        }
    }
}
.booking__form-select{
    @include mq(pc) {
        width: 200px;
    }
    width: 100%;
    //キャスト
    &-cast{
        @include mq(pc) {
            width: 300px;
        }
        width: 100%;
        select{
            font-family: $font-base;
            font-weight: 700;
            appearance: none;
            border-radius: 0;
            padding: 10px 16px;
            border: 1px solid $color-gray;
            font-size: 24px;
            box-shadow: none;
            background: $color-gray url(../img/arrowmark.png) no-repeat right 12px center / 14px 8px;
            @include mq(tab) {
                font-size: 18px;
            }
            @include mq(sp) {
                font-size: 16px;
            }
        }
    }
    //時間
    select{
        font-family: $font-base;
        font-weight: 700;
        appearance: none;
        border-radius: 0;
        padding: 10px 16px;
        border: 1px solid $color-gray;
        font-size: 24px;
        box-shadow: none;
        background: $color-gray url(../img/arrowmark.png) no-repeat right 12px center / 14px 8px;
        @include mq(tab) {
            font-size: 18px;
        }
        @include mq(sp) {
            font-size: 16px;
        }
    }
    //日程
    .your-date{
        font-family: $font-base;
        font-weight: 700;
        appearance: none;
        border-radius: 0;
        padding: 10px 16px;
        border: 1px solid $color-gray;
        font-size: 24px;
        box-shadow: none;
        // background: $color-gray;
        background: $color-gray url(../img/datemark.png) no-repeat right 12px center / 16px 16px;
        width: 100%;
        // &::-webkit-calendar-picker-indicator {
        //     color: transparent;
        //     background: url("../img/datemark.png") no-repeat right 5px center / 18px 18px;
        //     @include mq(pc) {
        //         background: url("../img/datemark.png") no-repeat right 12px center / 18px 18px;
        //     }
        // }
        @include mq(tab) {
            font-size: 18px;
        }
        @include mq(sp) {
            font-size: 16px;
        }
    }
}
.booking__form-input{
    @include mq(pc) {
        width: calc(100% - 200px);
    }
    width: 100%;
    //名前、電話番号
    .your-name{
        box-shadow: none;
        border: 1px solid $color-gray;
        background: $color-white;
        padding: 10px 16px;
        appearance: none;
        border-radius: 0;
        color: inherit;
        font-family: inherit;
        width: 100%;
        padding: 10px 16px;
        height: 100%;
    }
    //メールアドレス
    .your-email{
        box-shadow: none;
        border: 1px solid $color-gray;
        background: $color-white;
        padding: 10px 16px;
        appearance: none;
        border-radius: 0;
        color: inherit;
        font-family: inherit;
        font-size: 16px;
        width: 100%;
        padding: 10px 16px;
        height: 100%;
    }
}
.booking__form-check{
    margin-top: 50px;
    text-align: center;
    .your-check{
        width: 30px;
        height: 30px;
        background: $color-white;
        border: 2px solid $color-black;
        @include mq(tab) {
            width: 25px;
            height: 25px;
        }
        @include mq(sp) {
            width: 20px;
            height: 20px;
        }
    }
    @include mq(tab) {
        margin-top: 40px;
    }
    @include mq(sp) {
        margin-top: 30px;
    }
    span{
        display: inline-block;
        font-size: 18px;
        @include mq(tab) {
            font-size: 16px;
        }
        @include mq(sp) {
            font-size: 14px;
        }
        // &::before{
        //     content: "";
        //     width: 30px;
        //     height: 30px;
        //     background: $color-white;
        //     border: 2px solid $color-black;
        //     position: absolute;
        //     top: 50%;
        //     transform: translateY(-50%);
        //     left: 0;
        //     @include mq(tab) {
        //         width: 25px;
        //         height: 25px;
        //     }
        //     @include mq(sp) {
        //         width: 20px;
        //         height: 20px;
        //     }
        // }
        // &::after{
        //     content: "";
        //     width: 30px;
        //     height: 30px;
        //     position: absolute;
        //     top: 50%;
        //     transform: translateY(-50%);
        //     left: 0;
        //     background: url(../img/checkmark.png) no-repeat center center / contain;
        //     display: none;
        // }
    }
    // .your-check:checked{
    //     + span{
    //         &::after{
    //             display: block;
    //         }
    //     }       
    // } 

    a{
        font-family: inherit;
        font-size: 18px;
        @include mq(tab) {
            font-size: 16px;
        }
        @include mq(sp) {
            font-size: 14px;
        }
    }
}
.booking__form-button{
    margin-top: 50px;
    text-align: center;
    @include mq(tab) {
        margin-top: 40px;
    }
    @include mq(sp) {
        margin-top: 30px;
    }
    .your-submit{
        font-size: 24px;
        font-weight: 700;
        background: $color-main;
        width: 200px;
        max-width: 100%;
        color: $color-white;
        padding: 20px;
        box-shadow: 0 3px 6px rgba(#333, 0.16);
        appearance: none;
        font-family: inherit;
        border: none;
        display: inline-block;
    }
}
.success-message{
    font-size: 48px;
    font-weight: 700;
    font-family: $font-base;
    @include mq(tab) {
        font-size: 32px;
    }
    @include mq(sp) {
        font-size: 24px;
    }
}