@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:wght@400;700&family=Pinyon+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
/*==================================
# common
==================================*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  overflow-x: hidden;
  max-width: 100%;
  word-break: break-all;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

a:hover {
  opacity: 0.6;
}

ul {
  list-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  font-size: inherit;
  color: "Open Sans", "Noto Sans JP", sans-serif;
  border: 1px solid #333;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: 0;
}

input[type="submit"] {
  width: 100%;
  font-size: inherit;
  color: #fff;
  border: 1px solid #333;
  background-color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input[type="submit"]:hover {
  opacity: 0.6;
}

select {
  width: 100%;
  font-size: inherit;
  color: #333;
  border: 1px solid #333;
}

select option {
  color: #333;
}

select option:first-child {
  display: none;
}

textarea {
  width: 100%;
  font-size: inherit;
  color: #333;
  border: 1px solid #333;
  resize: none;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: #333;
}

:-ms-input-placeholder {
  opacity: 1;
  color: #333;
}

::-ms-input-placeholder {
  opacity: 1;
  color: #333;
}

::placeholder {
  opacity: 1;
  color: #333;
}

.SPACER--60 {
  height: 60px;
}

.SPACER--80 {
  height: 80px;
}

.SPACER--100 {
  height: 100px;
}

.SPACER--130 {
  height: 130px;
}

.SPACER--160 {
  height: 160px;
}

.SPACER--200 {
  height: 200px;
}

.SP--NONE {
  display: block;
}

@media (max-width: 767px) {
  .SP--NONE {
    display: none;
  }
}

.TAB--NONE {
  display: block;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .TAB--NONE {
    display: none;
  }
}

@media (max-width: 767px) {
  .TAB--NONE {
    display: none;
  }
}

.inner {
  max-width: 1440px;
  padding: 0 150px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

.btn a {
  display: inline-block;
  width: 335px;
  max-width: 100%;
  height: 85px;
  line-height: 85px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  background: #CA3E47;
  color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
          box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
}

@media (max-width: 767px) {
  .btn a {
    width: 230px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
  }
}

.btn-large a {
  display: inline-block;
  width: 795px;
  max-width: 100%;
  height: 85px;
  line-height: 85px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  background: #CA3E47;
  color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
          box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .btn-large a {
    width: 100%;
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .btn-large a {
    width: 100%;
    height: auto;
    font-size: 18px;
    line-height: 2;
    padding: 10px 5px;
  }
}

.pagenation {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
}

.pagenation a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.pagenation a:hover {
  opacity: 0.6;
}

.pagenation a.next,
.pagenation a.prev {
  font-size: 30px;
  height: 40px;
  width: 40px;
}

.pagenation a.next:hover,
.pagenation a.prev:hover {
  opacity: 0.6;
}

.page-numbers {
  background: #fff;
  border: 1px solid #e2e2e2;
  color: #808080;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  height: 40px;
  line-height: 38px;
  margin-right: 14px;
  min-width: 40px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}

.page-numbers:last-child {
  margin-right: 0;
}

.page-numbers.current {
  background: #d81f32;
  border: 1px solid #d81f32;
  color: #fff;
  font-weight: 700;
}

.page-numbers.dots,
.page-numbers.next,
.page-numbers.prev {
  border: none;
  line-height: 40px;
  min-width: initial;
  width: auto;
}

.entry-404 {
  padding-bottom: 85px;
  text-align: center;
}

.entry-404-head {
  color: #f0cdd0;
  font-family: "Archivo Black", sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 36px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .entry-404-head {
    font-size: 56px;
  }
}

@media (max-width: 767px) {
  .entry-404-head {
    font-size: 36px;
  }
}

.entry-404-head span::after {
  content: " ";
}

.entry-404-lead {
  color: #333;
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 24px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .entry-404-lead {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .entry-404-lead {
    font-size: 18px;
  }
}

.entry-404-lead .m_sp {
  display: none;
}

.entry-404-content {
  color: #333;
}

.entry-404-btn {
  margin-top: 58px;
}

.entry-404-btn .btn {
  background: #CA3E47;
  color: #fff;
}

.entry-404-btn .btn:hover {
  background: #E5E5E5;
  opacity: 1;
}

/*==================================
# header
==================================*/
.header {
  background: #fff;
  height: 100px;
  max-width: 100%;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
  z-index: 100;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo a {
  font-size: 56px;
  font-family: "Pinyon Script", cursive, sans-serif;
  color: #333;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header__logo a {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .header__logo a {
    font-size: 32px;
  }
}

.drawer {
  position: relative;
  width: 45px;
  height: 45px;
}

.drawer__checkbox {
  display: none;
}

.drawer__icon {
  cursor: pointer;
  display: block;
  width: inherit;
  height: inherit;
  position: fixed;
  top: 30px;
  bottom: 0;
}

@media (max-width: 767px) {
  .drawer__icon {
    top: 10px;
  }
}

.drawer__icon-parts, .drawer__icon-parts::before, .drawer__icon-parts::after {
  background: #313131;
  display: block;
  width: 26px;
  height: 2px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.drawer__icon-parts::before, .drawer__icon-parts::after {
  content: '';
}

.drawer__icon-parts::before {
  top: 16px;
}

.drawer__icon-parts::after {
  top: -16px;
}

.drawer__overlay {
  background: #313131;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

.drawer__menu {
  background: #fff;
  color: #313131;
  max-width: 100%;
  width: 320px;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: -320px;
}

.drawer__menu .drawer__item {
  display: block;
}

.drawer__menu .drawer__item:not(:first-child) {
  margin-top: 10px;
}

.drawer__menu .drawer__item-inner {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

.drawer__icon {
  z-index: 104;
}

.drawer__menu {
  z-index: 103;
}

.drawer__overlay {
  z-index: 102;
}

.drawer__checkbox:checked ~ .drawer__icon .drawer__icon-parts {
  background: transparent;
}

.drawer__checkbox:checked ~ .drawer__icon .drawer__icon-parts::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.drawer__checkbox:checked ~ .drawer__icon .drawer__icon-parts::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.drawer__checkbox:checked ~ .drawer__overlay {
  opacity: 0.3;
  pointer-events: auto;
}

.drawer__checkbox:checked ~ .drawer__menu {
  right: 0;
}

.drawer__checkbox:checked ~ .drawer__menu ul {
  width: 200px;
  margin-left: auto;
  margin-top: 100px;
  margin-right: auto;
}

.drawer__icon-parts, .drawer__icon-parts::after, .drawer__icon-parts::before, .drawer__overlay, .drawer__menu {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

/*==================================
# footer
==================================*/
.footer {
  background: #313131;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer__nav {
    display: block;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .footer__nav {
    display: block;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer__nav li:not(:first-child) {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .footer__nav li:not(:first-child) {
    margin-top: 20px;
  }
}

.footer__nav li a {
  color: #fff;
  font-size: 18px;
}

.copyright {
  margin-top: 45px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

/*==================================
# mainvisual
==================================*/
.main-visual {
  width: 100%;
  height: auto;
  min-height: 1400px;
  background: #313131;
  position: relative;
  top: 0;
  left: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-visual {
    min-height: 900px;
  }
}

@media (max-width: 767px) {
  .main-visual {
    min-height: 600px;
  }
}

.main-visual__content {
  width: 72%;
  height: auto;
  position: absolute;
  top: 0%;
  left: 15%;
  margin-top: 5%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-visual__content {
    top: 0%;
    left: 13%;
  }
}

@media (max-width: 767px) {
  .main-visual__content {
    top: 0%;
    left: 12%;
  }
}

.main-visual__content .main-visual__image {
  width: 100%;
  max-width: 988px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-visual__content .main-visual__image {
    width: 575px;
  }
}

@media (max-width: 767px) {
  .main-visual__content .main-visual__image {
    width: 280px;
  }
}

.main-visual__content .main-visual__image img {
  display: inline-block;
  width: 643px;
  height: 643px;
  border-radius: 50%;
  -webkit-box-shadow: 345px 115px 0px 0 #e5e5e5;
          box-shadow: 345px 115px 0px 0 #e5e5e5;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-visual__content .main-visual__image img {
    width: 400px;
    height: 400px;
    -webkit-box-shadow: 175px 75px 0px 0 #e5e5e5;
            box-shadow: 175px 75px 0px 0 #e5e5e5;
  }
}

@media (max-width: 767px) {
  .main-visual__content .main-visual__image img {
    width: 250px;
    height: 250px;
    -webkit-box-shadow: 75px 75px 0px 0 #e5e5e5;
            box-shadow: 75px 75px 0px 0 #e5e5e5;
  }
}

.main-visual__content .main-visual__title {
  font-family: "Archivo Black", sans-serif;
  color: #CA3E47;
  font-size: 144px;
  word-break: break-word;
  line-height: 1;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-visual__content .main-visual__title {
    font-size: 74px;
  }
}

@media (max-width: 767px) {
  .main-visual__content .main-visual__title {
    font-size: 32px;
  }
}

.main-visual__content .main-visual__lead {
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  color: #E5E5E5;
  font-size: 36px;
  margin-top: 30px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-visual__content .main-visual__lead {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .main-visual__content .main-visual__lead {
    font-size: 18px;
  }
}

@media (max-width: 319px) {
  .main-visual__content .main-visual__image {
    width: 100%;
  }
}

/*==================================
# online-service
==================================*/
.online-service {
  background: url(../img/service-bg.png) no-repeat top center/contain;
}

@media (max-width: 767px) {
  .online-service {
    background: url(../img/service-bg-sp.png) no-repeat top center/contain;
  }
}

.card__head {
  font-size: 48px;
  font-family: "Archivo Black", sans-serif;
  text-align: center;
  color: #fff;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .card__head {
    font-size: 30px;
  }
}

.card__lead {
  font-size: 22px;
  font-family: "Archivo Black", sans-serif;
  text-align: center;
  color: #fff;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .card__lead {
    font-size: 20px;
  }
}

.card__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__item {
  width: calc(25% - 30px * 3 / 4);
  padding: 30px 13px;
  background: #E5E5E5;
}

@media (min-width: 1025px) {
  .card__item:not(:first-child) {
    margin-left: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card__item {
    width: calc(50% - 30px * 1 / 2);
  }
  .card__item:not(:nth-child(2n + 1)) {
    margin-left: 30px;
  }
  .card__item:nth-child(n + 3) {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .card__item {
    width: 100%;
    margin-left: 0;
  }
  .card__item:nth-child(n + 2) {
    margin-top: 40px;
  }
}

.card__number {
  color: #fff;
  background-color: #CA3E47;
  padding: 0;
  margin: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  font-family: "Archivo Black", sans-serif;
  color: #fff;
  font-size: 48px;
}

@media (max-width: 767px) {
  .card__number {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 36px;
  }
}

.card__title {
  margin: 15px 0;
}

.card__text {
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  font-weight: 400;
}

.card__button {
  text-align: center;
}

/*==================================
# shop-service
==================================*/
.shop-service {
  background: #313131;
}

.casts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .casts {
    margin-bottom: 90px;
  }
}

.casts__description {
  width: calc(50% - 50px * 1 / 2);
}

@media (max-width: 767px) {
  .casts__description {
    width: 100%;
  }
}

.casts__description-head {
  color: #fff;
  font-size: 72px;
  font-family: "Archivo Black", sans-serif;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .casts__description-head {
    font-size: 64px;
  }
}

@media (max-width: 767px) {
  .casts__description-head {
    font-size: 64px;
  }
}

.casts__description-lead {
  color: #fff;
  font-size: 24px;
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  margin: 50px 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .casts__description-lead {
    font-size: 20px;
  }
}

.casts__button {
  text-align: left;
}

@media (max-width: 767px) {
  .casts__button {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .casts__button a {
    width: 100%;
    max-width: 100%;
    height: 65px;
    font-size: 30px;
    line-height: 65px;
  }
}

.casts__pickup {
  width: calc(50% - 50px * 1 / 2);
  margin-left: 50px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .casts__pickup {
    margin-left: 10px;
    width: calc(50% - 10px * 1 / 2);
    margin-top: 100px;
  }
}

@media (max-width: 767px) {
  .casts__pickup {
    margin-left: 0;
    margin-top: 60px;
    height: auto;
    width: 100%;
  }
}

.casts__pickup img {
  display: inline-block;
  width: 100%;
}

@media (min-width: 429px) and (max-width: 767px) {
  .casts__pickup img {
    width: 70%;
    margin: 0 auto;
    display: block;
  }
}

.shops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop {
  width: calc(25% - 30px * 3 / 4);
}

@media (min-width: 1025px) {
  .shop:not(:first-child) {
    margin-left: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .shop {
    width: calc(50% - 30px * 1 / 2);
  }
  .shop:not(:nth-child(2n + 1)) {
    margin-left: 30px;
  }
  .shop:nth-child(n + 3) {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .shop {
    width: 100%;
    margin-left: 0;
  }
  .shop:not(:first-child) {
    margin-top: 30px;
  }
}

@media (min-width: 429px) and (max-width: 767px) {
  .shops img {
    width: 70%;
    margin: 0 auto;
    display: block;
  }
}

.shops__button {
  text-align: center;
}

/*==================================
# price
==================================*/
.price__head {
  font-size: 72px;
  text-align: center;
  font-family: "Archivo Black", sans-serif;
  color: #333;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .price__head {
    font-size: 64px;
  }
}

@media (max-width: 767px) {
  .price__head {
    font-size: 64px;
  }
}

.price__table {
  width: 760px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .price__table {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .price__table {
    width: 100%;
  }
}

.table {
  margin: 0;
  border: 1px solid #E5E5E5;
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
}

.table th,
.table td {
  height: 90px;
  text-align: center;
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  font-size: 36px;
  line-height: 90px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .table th,
  .table td {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .table th,
  .table td {
    font-size: 22px;
  }
}

.table th {
  background: #E5E5E5;
  font-weight: 700;
}

.table td {
  background: #fff;
  border: 1px solid #E5E5E5;
}

/*==================================
# access
==================================*/
.access {
  background: #E5E5E5;
}

.access__head {
  font-size: 72px;
  text-align: center;
  font-family: "Archivo Black", sans-serif;
  color: #333;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .access__head {
    font-size: 64px;
  }
}

@media (max-width: 767px) {
  .access__head {
    font-size: 64px;
  }
}

.access__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.access__map {
  width: calc(50% - 65px * 1 / 2);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .access__map {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .access__map {
    width: 100%;
  }
}

.iframe-wrap {
  width: 100%;
  padding-top: 74.93113%;
  position: relative;
}

.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access__address {
  width: calc(50% - 65px * 1 / 2);
  margin-left: 65px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .access__address {
    width: 100%;
    margin-top: 65px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .access__address {
    width: 100%;
    margin-left: 0;
    margin-top: 65px;
  }
}

.access__address p {
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  font-size: 24px;
}

.access__address p:not(:first-child) {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .access__address p {
    font-size: 16px;
  }
}

.access__address p a {
  color: #333;
}

/*==================================
# news
==================================*/
.news {
  background: #313131;
  height: auto;
}

.news__head {
  font-family: "Archivo Black", sans-serif;
  color: #fff;
  font-size: 72px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .news__head {
    font-size: 64px;
  }
}

@media (max-width: 767px) {
  .news__head {
    font-size: 56px;
  }
}

.news__items {
  padding: 0 270px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .news__items {
    padding: 0 50px;
  }
}

@media (max-width: 767px) {
  .news__items {
    padding: 0;
  }
}

.news__item-link {
  display: inline-block;
}

.news__item-link:not(:first-child) {
  margin-top: 100px;
}

.news__title {
  color: #B99D4A;
  font-size: 32px;
  margin: 15px 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .news__title {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .news__title {
    font-size: 24px;
  }
}

.news__text {
  color: #fff;
  font-size: 20px;
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  font-weight: 400;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .news__text {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .news__text {
    font-size: 16px;
  }
}

.news__text + p {
  color: #fff;
  font-size: 20px;
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  font-weight: 400;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .news__text + p {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .news__text + p {
    font-size: 16px;
  }
}

.single {
  width: 600px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .single {
    width: 480px;
  }
}

@media (max-width: 767px) {
  .single {
    width: 100%;
    max-width: 100%;
  }
}

.single__head {
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  font-size: 36px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .single__head {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .single__head {
    font-size: 28px;
  }
}

.single__img {
  width: 600px;
  height: 600px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .single__img {
    width: 480px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .single__img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
  }
  .single__img::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.single__img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .single__img img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.single__text {
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  font-size: 24px;
  line-height: 3.0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .single__text {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .single__text {
    font-size: 18px;
    margin-bottom: 60px;
  }
}

.single__button {
  text-align: center;
}

.single__button a {
  font-size: 36px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .single__button a {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .single__button a {
    font-size: 24px;
  }
}

.shop-page {
  background: #313131;
  height: auto;
}

.shop-page__head {
  font-family: "Archivo Black", sans-serif;
  color: #fff;
  font-size: 72px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .shop-page__head {
    font-size: 64px;
  }
}

@media (max-width: 767px) {
  .shop-page__head {
    font-size: 56px;
  }
}

.shop__photos {
  margin: 0 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% - 180px);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .shop__photos {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .shop__photos {
    margin: 0;
    width: 100%;
  }
}

.shop-photo {
  width: calc(100% / 3 - 30px * 2 / 3);
  border: 1px solid #B99D4A;
}

@media (min-width: 1025px) {
  .shop-photo:not(:nth-child(3n + 1)) {
    margin-left: 30px;
  }
  .shop-photo:nth-child(n + 4) {
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .shop-photo {
    width: calc(50% - 30px * 1 / 2);
  }
  .shop-photo:not(:nth-child(2n + 1)) {
    margin-left: 30px;
  }
  .shop-photo:nth-child(n + 3) {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .shop-photo {
    width: 100%;
  }
  .shop-photo:not(:first-child) {
    margin-top: 30px;
  }
}

.casts-page {
  background: #313131;
}

.casts__head {
  font-family: "Archivo Black", sans-serif;
  color: #fff;
  font-size: 72px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .casts__head {
    font-size: 64px;
  }
}

@media (max-width: 767px) {
  .casts__head {
    font-size: 56px;
  }
}

.casts__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.casts__photo-link {
  display: inline-block;
  width: calc(25% - 46px * 3 / 4);
}

@media (min-width: 1025px) {
  .casts__photo-link:not(:nth-child(4n + 1)) {
    margin-left: 46px;
  }
  .casts__photo-link:nth-child(n + 5) {
    margin-top: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .casts__photo-link {
    width: calc(100% / 2 - 35px * 1 / 2);
  }
  .casts__photo-link:not(:nth-child(2n + 1)) {
    margin-left: 35px;
  }
  .casts__photo-link:nth-child(n + 3) {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .casts__photo-link {
    width: 100%;
  }
  .casts__photo-link:not(:first-child) {
    margin-top: 50px;
  }
}

.casts__photo {
  width: 100%;
  height: 435px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .casts__photo {
    width: 100%;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .casts__photo {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
  }
  .casts__photo::before {
    content: "";
    display: block;
    padding-top: 174%;
  }
}

.casts__photo img {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .casts__photo img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.casts-page__button {
  text-align: center;
}

.cast {
  width: 600px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cast {
    width: 480px;
  }
}

@media (max-width: 767px) {
  .cast {
    max-width: 100%;
    width: 100%;
  }
}

.cast__head {
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  font-size: 36px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cast__head {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .cast__head {
    font-size: 28px;
  }
}

.cast__img {
  width: 600px;
  height: 1134px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cast__img {
    width: 480px;
    height: 907px;
  }
}

@media (max-width: 767px) {
  .cast__img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
  }
  .cast__img::before {
    content: "";
    display: block;
    padding-top: 189%;
  }
}

.cast__img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .cast__img img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.cast__table {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .cast__table {
    margin-bottom: 60px;
  }
}

.cast__table .cell {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #E5E5E5;
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
}

.cast__table tr th,
.cast__table tr td {
  text-align: center;
  height: 90px;
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  font-size: 24px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cast__table tr th,
  .cast__table tr td {
    height: 70px;
  }
}

@media (max-width: 767px) {
  .cast__table tr th,
  .cast__table tr td {
    height: 50px;
    font-size: 18px;
  }
}

.cast__table tr th {
  background: #E5E5E5;
  line-height: 90px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cast__table tr th {
    line-height: 70px;
  }
}

@media (max-width: 767px) {
  .cast__table tr th {
    line-height: 50px;
  }
}

.cast__table tr td {
  background: #fff;
  line-height: 1.7;
  vertical-align: middle;
}

.cast__button {
  text-align: center;
}

.booking {
  background: #313131;
}

.booking__head {
  font-family: "Archivo Black", sans-serif;
  color: #fff;
  font-size: 72px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__head {
    font-size: 64px;
  }
}

@media (max-width: 767px) {
  .booking__head {
    font-size: 56px;
  }
}

.booking__form-wrapper {
  background: #fff;
  padding: 185px 125px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-wrapper {
    padding: 90px 60px;
  }
}

@media (max-width: 767px) {
  .booking__form-wrapper {
    padding: 20px 10px;
  }
}

.booking__form-title {
  font-size: 36px;
  color: #CA3E47;
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-title {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .booking__form-title {
    font-size: 24px;
  }
}

.booking__form-description {
  font-size: 24px;
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  color: #313131;
  margin-top: 50px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-description {
    font-size: 20px;
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .booking__form-description {
    font-size: 18px;
    margin-top: 30px;
  }
}

.booking__form-row {
  margin-top: 50px;
  display: block;
}

@media (min-width: 1025px) {
  .booking__form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-row {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .booking__form-row {
    margin-top: 30px;
  }
}

.booking__form-label {
  width: 100%;
  padding: 0;
  margin: 0;
}

@media (min-width: 1025px) {
  .booking__form-label {
    width: 200px;
  }
}

.booking__form-label label {
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 24px;
  background: #E5E5E5;
  padding: 10px 16px;
  width: 100%;
  display: inline-block;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-label label {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .booking__form-label label {
    font-size: 16px;
  }
}

.booking__form-select {
  width: 100%;
}

@media (min-width: 1025px) {
  .booking__form-select {
    width: 200px;
  }
}

.booking__form-select-cast {
  width: 100%;
}

@media (min-width: 1025px) {
  .booking__form-select-cast {
    width: 300px;
  }
}

.booking__form-select-cast select {
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  font-weight: 700;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  padding: 10px 16px;
  border: 1px solid #E5E5E5;
  font-size: 24px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #E5E5E5 url(../img/arrowmark.png) no-repeat right 12px center/14px 8px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-select-cast select {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .booking__form-select-cast select {
    font-size: 16px;
  }
}

.booking__form-select select {
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  font-weight: 700;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  padding: 10px 16px;
  border: 1px solid #E5E5E5;
  font-size: 24px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #E5E5E5 url(../img/arrowmark.png) no-repeat right 12px center/14px 8px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-select select {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .booking__form-select select {
    font-size: 16px;
  }
}

.booking__form-select .your-date {
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  font-weight: 700;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  padding: 10px 16px;
  border: 1px solid #E5E5E5;
  font-size: 24px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #E5E5E5;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-select .your-date {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .booking__form-select .your-date {
    font-size: 16px;
  }
}

.booking__form-input {
  width: 100%;
}

@media (min-width: 1025px) {
  .booking__form-input {
    width: calc(100% - 200px);
  }
}

.booking__form-input .your-name {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #E5E5E5;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  width: 100%;
  padding: 10px 16px;
  height: 100%;
}

.booking__form-input .your-email {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #E5E5E5;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  width: 100%;
  padding: 10px 16px;
  height: 100%;
}

.booking__form-check {
  margin-top: 50px;
  text-align: center;
}

.booking__form-check .your-check {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 2px solid #313131;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-check .your-check {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 767px) {
  .booking__form-check .your-check {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-check {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .booking__form-check {
    margin-top: 30px;
  }
}

.booking__form-check span {
  display: inline-block;
  font-size: 18px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-check span {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .booking__form-check span {
    font-size: 14px;
  }
}

.booking__form-check a {
  font-family: inherit;
  font-size: 18px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-check a {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .booking__form-check a {
    font-size: 14px;
  }
}

.booking__form-button {
  margin-top: 50px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking__form-button {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .booking__form-button {
    margin-top: 30px;
  }
}

.booking__form-button .your-submit {
  font-size: 24px;
  font-weight: 700;
  background: #CA3E47;
  width: 200px;
  max-width: 100%;
  color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
          box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border: none;
  display: inline-block;
}

.success-message {
  font-size: 48px;
  font-weight: 700;
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .success-message {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .success-message {
    font-size: 24px;
  }
}

.sale {
  background: #313131;
}

.sale__head {
  font-family: "Archivo Black", sans-serif;
  color: #fff;
  font-size: 72px;
  text-align: center;
  word-break: break-all;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sale__head {
    font-size: 64px;
  }
}

@media (max-width: 767px) {
  .sale__head {
    font-size: 56px;
  }
}

.sale__form-wrapper {
  background: #fff;
  padding: 185px 125px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sale__form-wrapper {
    padding: 90px 60px;
  }
}

@media (max-width: 767px) {
  .sale__form-wrapper {
    padding: 20px 10px;
  }
}

.sale__form-title {
  font-size: 36px;
  color: #CA3E47;
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  font-weight: 700;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sale__form-title {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .sale__form-title {
    font-size: 24px;
  }
}

.sale__form-description {
  font-size: 24px;
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  color: #313131;
  margin-top: 50px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sale__form-description {
    font-size: 20px;
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .sale__form-description {
    font-size: 18px;
    margin-top: 30px;
  }
}

.sale__form-row {
  margin-top: 50px;
  display: block;
}

@media (min-width: 1025px) {
  .sale__form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sale__form-row {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .sale__form-row {
    margin-top: 30px;
  }
}

.sale__form-label {
  margin: 0;
  padding: 0;
  width: 100%;
}

@media (min-width: 1025px) {
  .sale__form-label {
    width: 200px;
  }
}

.sale__form-label label {
  font-family: "Open Sans", "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 24px;
  background: #E5E5E5;
  padding: 10px 16px;
  width: 100%;
  display: inline-block;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sale__form-label label {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .sale__form-label label {
    font-size: 16px;
  }
}

.sale__form-input {
  margin: 0;
  padding: 0;
  width: 100%;
}

@media (min-width: 1025px) {
  .sale__form-input {
    width: calc(100% - 200px);
  }
}

.sale__form-input [type="text"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #E5E5E5;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  width: 100%;
  padding: 10px 16px;
  height: 100%;
}

.sale__form-button {
  margin-top: 50px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sale__form-button {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .sale__form-button {
    margin-top: 30px;
  }
}

.sale__form-button [type="submit"] {
  font-size: 24px;
  font-weight: 700;
  background: #CA3E47;
  width: 200px;
  max-width: 100%;
  color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
          box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border: none;
  display: inline-block;
}

.contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;
  background: #fff;
}

.contact-message.-error {
  color: #CA3E47;
}

.contact-message.-active {
  display: block;
}
/*# sourceMappingURL=style.css.map */